html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

*,*::before,*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;

}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: 'Gilroy', 'Helvetica', sans-serif;
  color: #000000;
}

img {
  max-width: 100%;
  height: auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

ul, p, h2, h3, input, h1, fieldset, input {
  margin: 0;
  padding: 0;
}

@font-face {
  font-weight: 800;
  font-family: "Open Sans";
  font-style: normal;
  src: url("fonts/gilroyextrabold.woff2") format("woff2"), url("fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-weight: 300;
  font-family: "Open Sans";
  font-style: normal;
  src: url("fonts/gilroylight.woff2") format("woff2"), url("fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-weight: 300;
  font-family: "Open Sans";
  font-style: normal;
  src: url("fonts/opensanslight.woff2") format("woff2"), url("fonts/opensanslight.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  font-style: normal;
  src: url("fonts/opensans.woff2") format("woff2"), url("fonts/opensans.woff") format("woff");
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-logo {
  font-weight: 800;
  font-size: 48px;
  line-height: 48px;
  text-transform: uppercase;
  display: block;
  letter-spacing: 1px;
  margin-left: -3px;
  margin-bottom: 12px;
}

.catalog-header .main-logo {
  color: rgba(0, 0, 0, 1);
  cursor: pointer;
  display: block;
  width: 170px;
}

.catalog-header .main-logo:hover {
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.catalog-header .main-logo:active {
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.searching-form {
  border: none;
  border-bottom: 2px solid transparent;
  padding-left: 40px;
  background-color: #f7e296;
  outline: none;
  width: 100%;
  padding-right: 10px;
}

.searching-form::placeholder {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.3);
}

.searching-form:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.searching-form:focus::placeholder {
  color: #000000;
}

.searching-form:focus {
  transition: 0.2s linear;
  border-bottom: 2px solid #000000;
}

.searching-form:focus ~ .form-search {
  display: block;
}

.user-link {
  font-family: "Open Sans" , sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  color: #000000;
  display: inline-block;
}

.navigation-link {
  font-weight: 800;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 4px;
}

.navigation-link:hover {
  color: rgba(0,0,0, 0.6);
}

.navigation-link:active {
  color: rgba(0,0,0, 0.3);
}

.slide h2 {
  font-weight: 800;
  font-size: 47px;
  line-height: 56px;
  color: #000000;
  width: 400px;
  letter-spacing: 0.7px;
  margin-bottom: 19px;
}

.slide p {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
}

.find-out-more {
  font-weight: 800;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  display: inline-block;
  padding-left: 44px;
  padding-right: 41px;
  text-align: center;
  vertical-align: middle;
  padding-top: 11px;
  padding-bottom: 11px;
  letter-spacing: 3.6px;
  margin-bottom: 53px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.find-out-more::after {
  content: "";
  position: absolute;
  width: 220px;
  height: 8px;
  background-color: #f0c52e;
  top: 16px;
  left: 0;
  z-index: -1;
  transition: 0.3s;
}

.find-out-more:hover::after {
  transform: scale(7);
  transition: 0.3s;
}

.find-out-more:active {
  color: rgba(0, 0, 0, 0.3);
}

.stats {
  margin-left: -3px;
}

.stats th {
  font-weight: 300;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  padding-right: 76px;
  padding-bottom: 10px;
}

.stats td {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  color: #464646;
}

.products-title {
  font-weight: 800;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.slider-controls-item::after {
  content: "";
  position: absolute;
  width: 160px;
  height: 7px;
  background-color: #f0c52e;
  top: 17px;
  left: 0;
  z-index: -2;
  transition: 0.3s;
}

.slider-controls-item:hover::after {
  transform: scale(7);
  transition: 0.3s;
}

.slider-controls-item:active::after  {
  display: none;
}

.slider-item h2 {
  font-weight: 800;
  font-size: 47px;
  line-height: 47px;
  color: #000000;
  letter-spacing: 1px;
  padding-left: 1px;
  margin-bottom: 31px;
  padding-top: 30px;
}

.first-part {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
}

.about-us-title,
.contacts-title {
  font-weight: 800;
  font-size: 47px;
  line-height: 47px;;
  color: #000000;
}

.contacts-title {
  margin-bottom: 44px;
}


.about-us-title {
  margin-bottom: 43px;
}

.top,
.bottom,
.contacts-desc {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
}

.contacts-desc {
  margin-bottom: 38px
}

.top {
  width: 420px;
  margin-bottom: 30px;
}

.bottom {
  width: 475px;
  margin-bottom: 66px;
}

.our-logistics {
  position: relative;
  padding-left: 35px;
  margin-bottom: 54px;
}

.logistics-item {
  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
  color: #000000;
}

.logistics-item::before {
  content: "";
  position: absolute;
  display: inline-block;
  left: 1px;
  top: 16px;
  width: 8px;
  height: 8px;
  background-image: url(../img/slider-button.png);
  background-repeat: no-repeat;
}

.logistics-item:nth-child(2)::before {
  content: "";
  position: absolute;
  display: inline-block;
  left: 1px;
  top: 56px;
  width: 8px;
  height: 8px;
  background-image: url(../img/slider-button.png);
  background-repeat: no-repeat;
}

.logistics-item:last-child::before {
  content: "";
  position: absolute;
  display: inline-block;
  left: 1px;
  top: 96px;
  width: 8px;
  height: 8px;
  background-image: url(../img/slider-button.png);
  background-repeat: no-repeat;
}

.more-info,
.write-to-us {
  display: inline-block;
  font-weight: 800;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 9px;
  letter-spacing: 3.6px;
  padding-right: 5px;
  width: 260px;
  text-align: center;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
}

.more-info::before {
  content: "";
  position: absolute;
  width: 260px;
  height: 7px;
  background-color: #f0c52e;
  top: 17px;
  left: 0;
  z-index: -1;
  transition: 0.3s;
}

.more-info:hover::before {
  transform: scale(7);
  transition: 0.3s;
}

.more-info:active {
  color: rgba(0, 0, 0, 0.3);
}

.write-to-us::before {
  content: "";
  position: absolute;
  width: 260px;
  height: 7px;
  background-color: #f0c52e;
  top: 16px;
  left: 0;
  z-index: -1;
  transition: 0.3s;
}

.write-to-us:hover::before {
  transform: scale(7);
  transition: 0.3s;
}


.write-to-us:active {
  color: rgba(0, 0, 0, 0.3);
}

.footer {
  color: #ffc600;
}

.footer:hover {
  opacity: 0.6;
}

.footer:active {
  opacity: 0.3;
}

.navigation-footer {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  color: rgba(255, 255, 255, 0.7);
  display: block;
  width: 100px;
}

.navigation-item:hover .navigation-footer {
  color: rgba(255, 255, 255, 1);
}

.navigation-item:active .navigation-footer {
  color: rgba(255, 255, 255, 0.3);
}

.navigation-item:hover .navigation-footer::after {
  opacity: 0.6;
}

.navigation-item:active .navigation-footer::after {
  opacity: 0.3;
}

.main-footer {
  padding-top: 59px;
  background-color: #464646;
  padding-bottom: 63px;
}

.services-list li:first-child,
.services-list li:last-child {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #ffffff;
  width: 203px;
}

.services-link {
  display: block;
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 18px;;
  color: #ffffff;
  letter-spacing: 3.6px;
  width: 146px;
}

.services-link:hover {
  opacity: 0.6;
}

.services-link:active {
  opacity: 0.3;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  margin-left: 60px;
  margin-right: 60px;
  padding-bottom: 52px;
}

.slider {
  position: relative;
  box-sizing: border-box;
  margin-bottom: 91px;
}

.slider::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 7px;
  background-color: #ffffff;
  top: 39px;
  right: 460px;
}

.searching-form-label::before {
  content: "";
  position: absolute;
  background-image: url(../svg-device/search.svg);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  width: 16px;
  height: 16px;
  top: 75px;
  left: 3px;
}

.left-column {
  width: 440px;
  position: relative;
}

.right-column {
  position: relative;
  width: 500px;
  margin-top: 64px;
}

.catalog-list:after {
  content: "";
  position: absolute;
  background-image: url(../svg-device/plus.svg);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  width: 16px;
  height: 16px;
  bottom: 1px;
  right: -16px;
  opacity: 0.3;
}

.user-navigation,
.site-navigation {
  display: flex;
  position: relative;
}

.user-navigation {
  margin-bottom: 39px;
}

.user-navigation li {
  width: 100px;
  padding-left: 25px;
  text-align: right;
}

.user-navigation li:first-child {
  margin-right: 176px;
  padding-right: 30px;
}

.user-list:hover .user-link  {
  opacity: 0.6;
}

.user-list:active .user-link  {
  opacity: 0.3;
}

.user-navigation li:nth-child(2) {
  margin-right: 25px;
}

.ent::before {
  content: "";
  position: absolute;
  background-image: url(../svg-device/user.svg);
  background-repeat: no-repeat;
  background-size: 13px 12px;
  width: 13px;
  height: 12px;
  bottom: 12px;
  left: 0;
}

.site-navigation li:last-child {
  margin-left: auto;
}

.bas::after {
  content: "";
  position: absolute;
  background-image: url(../svg-device/cart.svg);
  background-repeat: no-repeat;
  background-size: 13px 12px;
  width: 13px;
  height: 12px;
  bottom: 12px;
  right: 70px;
}

.comp::before {
  content: "";
  position: absolute;
  background-image: url(../svg-device/compare.svg);
  background-repeat: no-repeat;
  background-size: 13px 12px;
  width: 13px;
  height: 12px;
  bottom: 12px;
  right: 203px;
}

.site-navigation li:first-child {
  margin-right: 38px;
}

.site-navigation li {
  width: 120px;
}

.slider-number {
  position: absolute;
  font-weight: 800;
  font-size: 180px;
  line-height: 180px;;
  color: #ffffff;
  top: -12px;
  right: 48px;
}

.right {
  width: 560px;
}

.slider-slide-1 .left {
  padding-left: 90px;
  padding-top: 2px;
}

.slider-slide-2 .left {
  padding-left: 115px;
  padding-top: 15px;
}

.slider-slide-3 .left {
  padding-left: 30px;
  padding-top: 67px;
}

.slider-slide-3 h2 {
  width: 505px;
  z-index: 0;
  position: relative;
}

.slider-slide-1 p {
  width: 485px;
}

.slider-slide-2 p {
  width: 450px;
  padding-bottom: 0;
}

.slider-slide-3 p {
  width: 470px;
  padding-bottom: 0;
}

.slide p {
  margin-bottom: 43px;
}

.products-link {
  display: block;
  position: relative;
  width: 160px;
  height: 160px;
  background-color: #f7e296;
}

.products-list:hover .products-link {
  background-color: #f0c52e;
}

.products-list:active svg {
  opacity: 0.3;
}

.products-list:active .products-title {
  opacity: 0.3;
}

.products-link svg {
  position: absolute;
}

.products-navigation {
  display: flex;
  justify-content: space-between;
}

.products-navigation li:first-child svg {
  top: 52px;
  right: 32px;
}

.products-navigation li:nth-child(2) svg {
  top: 41px;
  right: 36px;
}

.products-navigation li:nth-child(3) svg {
  top: 38px;
  right: 40px;
}

.products-navigation li:nth-child(4) svg {
  top: 50px;
  right: 25px;
}

.products-navigation li:nth-child(5) svg {
  top: 32px;
  right: 49px;
}

.products-navigation li:last-child svg {
  top: 49px;
  right: 15px;
}

.products-list a {
  margin-bottom: 36px;
}

.products-navigation li:first-child h3 {
  width: 120px;
}

.products-navigation li:nth-child(2) h3 {
  width: 100px;
}

.services-catalog input {
  display: none;
}

.services-catalog {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.slider-list {
  position: relative;
  width: 760px;
}

.slider-button {
  display: flex;
  width: 280px;
  flex-direction: column;
  padding-top: 1px;
}

.slider-button:after {
  content: "";
  position: absolute;
  left: 277px;
  top: -44px;
  width: 7px;
  height: 319px;
  background-color: #000000;
}

.services {
  padding-top: 130px;
}

.first-part {
  width: 455px;
}

.main-content {
  background-image: url(../img/gray.png);
  background-repeat: no-repeat;
  background-position: center 422px;
  margin-bottom: 82px;
  position: relative;
}

.main-header {
  background-image: url(../img/yellow.png);
  background-repeat: no-repeat;
  background-position: center 24px;
  z-index: -999;
}

.catalog-header {
  background-image: url(../img/catalog-yellow.png);
  background-repeat: no-repeat;
  background-position: center 24px;
  z-index: -999;
  margin-bottom: 40px;
}

.catalog-header .main-nav {
  margin-bottom: 38px;
}

.services {
  margin-bottom: 210px;
}

.brands {
  display: flex;
  justify-content: space-between;
}

.about-company {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.about-us {
  width: 500px;
  padding-top: 62px;
}

.contacts {
  width: 560px;
  padding-top: 62px;
}

.company-list {
  margin-bottom: 84px;
}

.about-us::before {
  content: "";
  position: absolute;
  left: 0;
  top: 9px;
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.contacts::before {
  content: "";
  position: absolute;
  right: 480px;
  top: 9px;
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.map-link {
  display: block;
  margin-bottom: 65px;
}

.navigation-list {
  display: flex;
  position: relative;
}

.navigation-list li {
  padding: 1px 1px;
}

.navigation-item a {
  display: inline-block;
}

.navigation-list li:first-child {
  margin-right: auto;
  width: 160px;
}

.navigation-list li:last-child {
  text-align: right;
}

.enter {
  padding-left: 5px;
}

.navigation-list .compare::after {
  content: "";
  position: absolute;
  background-image: url(../svg-device/compare-yellow.svg);
  background-repeat: no-repeat;
  background-size: 13px 12px;
  width: 13px;
  height: 12px;
  top: 13px;;
  right: 201px;
}

.navigation-list .cart::after {
  content: "";
  position: absolute;
  background-image: url(../svg-device/cart-yellow.svg);
  background-repeat: no-repeat;
  background-size: 13px 12px;
  width: 13px;
  height: 12px;
  top: 13px;;
  right: 69px;
}

.compare {
  padding-left: 11px;
}

.services-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 62px;
}

.services-list li:first-child {
  margin-right: auto;
}

.services-list li:last-child {
  margin-left: auto;
  text-align: right;
}

.footer-navigation {
  margin-bottom: 21px;
}

.footer {
  margin-bottom: 0;
}

.services-item {
  padding-top: 9px;
}

.services-list li:nth-child(3) {
  margin-left: 2px;
}

.del {
  padding-left: 8px;
}

.warr {
  padding-left: 18px;;
}

.cont {
  padding-left: 18px;
}

.social-list {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.strip {
  margin-right: auto;
}

.strip::after {
  content: "";
  position: absolute;
  background-color: #ffc600;
  width: 81px;
  height: 7px;
  top: 15px;;
  left: 0;
}

.social-list li:last-child {
  margin-left: auto;
}

.social {
  display: block;
  width: 52px;
}

.social:link svg {
  opacity: 0.6;
}

.social:hover svg {
  opacity: 1;
}

.social:active svg {
  opacity: 0.3;
}

.fb {
  padding-left: 21px;
  padding-top: 2px;
}

.inst {
  padding-left: 24px;
  padding-top: 2px;
}

.tw {
  padding-left: 26px;
  padding-top: 2px;
}

.html-academy:hover svg {
  opacity: 0.6;
}

.html-academy:active svg {
  opacity: 0.3;
}

.filters {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding-left: 60px;
  padding-right: 40px;
}

.price-catalog {
  width: 760px;
}

.catalog {
  display: flex;
  justify-content: space-between;
}

.sorting {
  width: 100%;
}

.price-catalog {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.catalog-title {
  font-weight: 800;
  font-size: 47px;
  line-height: 47px;;
  color: #000000;
  letter-spacing: 0.7px;
  margin-bottom: 18px;
  padding-left: 59px;
}

.breadcrumbs a {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.main-page-link,
.catalog-link {
  position: relative;
}

.main-page-link::after {
  content: "";
  position: absolute;
  background-image: url(../svg-device/nav-arrow.svg);
  width: 4px;
  height: 7px;
  top: 7px;
  right: -19px;
}

.catalog-link::after {
  content: "";
  position: absolute;
  background-image: url(../svg-device/nav-arrow.svg);
  width: 4px;
  height: 7px;
  top: 7px;
  right: -24px;
}

.breadcrumbs {
  display: flex;
  justify-content: space-between;
  width: 439px;
  /* margin-bottom: 40px; */
  padding-left: 60px;
}

.filter-title {
  font-weight: 800;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  color: #000000;
  padding-left: 1px;
  padding-top: 27px;
  padding-bottom: 27px;
  margin-bottom: 69px;
}

.filter-item,
.square,
.circle {
  border: none;
}

.square label {
  position: relative;
  display: block;
  width: 100%;
}

.checkbox-input + label:before {
  content: "";
  position: absolute;
  top: 8px;
  left: -40px;
  display: inline-block;
  height: 25px;
  width: 25px;
  background-image: url("../svg-device/checkbox-off.svg");
  background-repeat: no-repeat;
  opacity: 1;
  cursor: pointer;
  vertical-align: middle;
}

.checkbox-input + label:after {
  content: "";
  position: absolute;
  top: 8px;
  left: -40px;
  display: none;
  height: 25px;
  width: 25px;
  background-image: url("../svg-device/checkbox-on.svg");
  background-repeat: no-repeat;
  opacity: 1;
  cursor: pointer;
  vertical-align: middle;
}

.checkbox-input:checked + label::after {
  display: block;
}

.checkbox-input:checked + label:hover::after {
  opacity: 0.6;
}

.checkbox-input:checked + label:active::after {
  opacity: 1;
}

.checkbox-input:checked + label::before {
  display: none;
}

.checkbox-input + label:hover::before {
  opacity: 0.6;
}

.checkbox-input + label:active::before {
  opacity: 1;
}

.checkbox-input:disabled + label::before {
  opacity: 0.4;
}

.checkbox-input:disabled + label::after {
  opacity: 0.4;
}

.checkbox-input:disabled + label {
  opacity: 0.4;
}

.filter-item {
  margin-bottom: 37px;
}

.filter-item legend {
  font-weight: 800;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  border-top: 2px solid #000000;
  width: 100%;
  padding-top: 13px;
  margin-bottom: 38px;
}

.square legend {
  font-weight: 800;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  border-top: 2px solid #000000;
  width: 100%;
  padding-top: 13px;
  margin-bottom: 21px;
}

.circle legend {
  font-weight: 800;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  border-top: 2px solid #000000;
  width: 100%;
  padding-top: 13px;
  margin-bottom: 21px;
}

.range-controls .scale{
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar{
  width: 70%;
  height: 2px;
  background: #91c92f;
}

.range-controls .toggle{
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  background-color: #ababab;
  padding: 0;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
          box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 125px;
}

.range-controls .toggle-min {
  left: -6px;
  top: -10px;
  width: 20px;
  height: 20px;
}

.range-controls .toggle-min:active,
.range-controls .toggle-max:active {
  transform: scale(1.2);
}

.range-controls .toggle-max {
  left: 107px;
  top: -10px;
  width: 20px;
  height: 20px;
}

.range-controls {
  position: relative;
  margin-bottom: 11px;
}

.filters-input {
  border: none;
  width: 50%;
}

.min-price input {
  padding-left: 3px;
  background-color: transparent
}

.max-price input {
  padding-left: 5px;
  background-color: transparent
}

.price-controls {
  display: flex;
}

.price-controls .min-price {
  width: 45%;
}

.price-controls .max-price {
  width: 55%;
}

.price-controls label {
  display: inline-block;
}

.filters-input {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  color: rgba(0, 0, 0, 0.2);
}

.min-price,
.max-price {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  color: rgba(0, 0, 0, 0.2);
}

.square input {
  display: none;
}

.square  {
  margin-bottom: 31px;
}

.checkbox {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 40px;
  color: #000000;
  margin-left: 38px;
}

.circle input[type="radio"] {
  display: none;
}

.circle label {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 40px;
  color: #000000;
  position: relative;
  display: block;
  width: 100%;
  margin-left: 38px;
}

.radio-input + label:before {
  content: "";
  position: absolute;
  top: 6px;
  left: -40px;
  display: inline-block;
  height: 25px;
  width: 25px;
  background-image: url("../svg-device/radio-off.svg");
  background-repeat: no-repeat;
  opacity: 1;
  cursor: pointer;
  vertical-align: middle;
}

.radio-input + label:after {
  content: "";
  position: absolute;
  top: 6px;
  left: -40px;
  display: none;
  height: 25px;
  width: 25px;
  background-image: url("../svg-device/radio-on.svg");
  background-repeat: no-repeat;
  opacity: 1;
  cursor: pointer;
  vertical-align: middle;
}

.radio-input:checked + label::after {
  display: block;
}

.radio-input:checked + label:hover::after {
  opacity: 0.6;
}

.radio-input:checked + label:active::after {
  opacity: 1;
}

.radio-input:checked + label::before {
  display: none;
}

.radio-input + label:hover::before {
  opacity: 0.6;
}

.radio-input + label:active::before {
  opacity: 1;
}

.radio-input:disabled + label::before {
  opacity: 0.4;
}

.radio-input:disabled + label::after {
  opacity: 0.4;
}

.submit-button {
  font-family: 'Gilroy', "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
  display: inline-block;
  padding-left: 40px;
  padding-right: 39px;
  text-align: center;
  vertical-align: middle;
  padding-top: 11px;
  padding-bottom: 11px;
  letter-spacing: 3.6px;
  box-sizing: border-box;
  border: none;
  outline: none;
  margin-top: 31px;
  background-color: transparent;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.submit-button::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 8px;
  background-color: #f0c52e;
  top: 16px;
  left: -2px;
  z-index: -1;
  transition: 0.3s;
}

.submit-button:hover::after {
  transform: scale(7);
  transition: 0.3s;
}

.submit-button:hover:active {
  color: rgba(0, 0, 0, 0.3);;
}

.sorting span {
  width: 201px;
  font-weight: 800;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  color: #000000;
  padding-left: 1px;
  padding-top: 27px;
  padding-bottom: 27px;
  display: block;
}

.sorting {
  display: flex;
  position: relative;
  margin-bottom: 69px;
}

.filter-type {
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
  width: 343px;
}

.type,
.popularity  {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  color: rgba(0, 0, 0, 0.3);
}

.type:hover,
.popularity:hover  {
  color: rgba(0, 0, 0, 0.6);
}

.type:active,
.popularity:active  {
  color: rgba(0, 0, 0, 1);
}

.price {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: rgba(0, 0, 0, 1);
}

.price:hover {
  color: rgba(0, 0, 0, 0.6);
}

.arrow-des {
  position: absolute;
  background-image: url(../svg-device/icon-down-dir.svg);
  background-repeat: no-repeat;
  top: 30px;
  right: -1px;
  width: 12px;
  height: 12px;
}

.arrow-des:hover {
  opacity: 0.6;
}

.arrow-asc {
  position: absolute;
  background-image: url(../svg-device/icon-up-dir.svg);
  background-repeat: no-repeat;
  top: 30px;
  right: 29px;
  width: 12px;
  height: 12px;
  opacity: 0.3;
}

.arrow-asc:hover {
  opacity: 0.6;
}

.arrow-asc:active {
  opacity: 1;
}

.item-desc a {
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  letter-spacing: 0.2px;
}

.catalog-item img {
  margin-bottom: 24px;
}

.catalog-item {
  position: relative;
}

.catalog-item:hover img {
  opacity: 0.7;
}

.catalog-item:hover .mask {
  display: block;
}

.mask {
  display: none;
}

.mask {
  position: absolute;
  width: 202px;
  height: 80px;
  top: 170px;
  left: 79px;
}

.mask .mask-compare {
  position: absolute;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.5);
  top: 46px;
  left: 32px;
  cursor: pointer;
}

.mask .mask-compare:hover {
  color: rgba(0, 0, 0, 1);
}

.mask .mask-compare:active {
  color: rgba(0, 0, 0, 0.2);
}

.mask-link {
  font-family: 'Gilroy', "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  width: 100%;
  color: rgba(0, 0, 0, 1);
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  vertical-align: middle;
  padding-top: 11px;
  padding-bottom: 11px;
  letter-spacing: 3.6px;
  box-sizing: border-box;
  background-color: transparent;
  position: relative;
  z-index: 0;
  overflow: hidden;
  cursor: pointer;
}

.mask-link::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 8px;
  background-color: #f0c52e;
  top: 16px;
  left: 1px;
  z-index: -1;
  transition: 0.3s;
}

.mask-link:hover::after {
  transform: scale(7);
  transition: 0.3s;
}

.mask-link:active{
  color: rgba(0, 0, 0, 0.4);
}

.item-1 span {
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  color: #464646;
  position: absolute;
  bottom: 3px;
  right: 1px;
}

.item-1 {
  margin-bottom: 70px;
}

.professional {
  width: 180px;
}

.item-2 span {
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  color: #464646;
  position: absolute;
  bottom: 73px;
  right: 1px;
}

.follow-me {
  width: 230px;
}

.item-3 span {
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  color: #464646;
  position: absolute;
  bottom: 62px;
  right: 1px;
}

.item-4 span {
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  color: #464646;
  position: absolute;
  bottom: 28px;
  right: 1px;
}

.item-4 {
  margin-bottom: 34px;
}

.new {
  content: "new";
  position: absolute;
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #ebebeb;
  margin-bottom: 77px;
}

.pagination-item {
  display: block;
  font-weight: 800;
  font-size: 16px;
  line-height: 16px;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  cursor: pointer;
}

.pagination-page {
  color: rgba(0, 0, 0, 0.4);
}

.pagination-page:hover {
  color: rgba(0, 0, 0, 0.6);
}

.pagination-page:active {
  color: rgba(0, 0, 0, 1);
}

.pagination-current {
  color: rgba(0, 0, 0, 1);
}

.pagination-back,
.pagination-next {
  display: block;
  padding-left: 30px;
  padding-right: 26px;
  padding-top: 27px;
  padding-bottom: 27px;
  letter-spacing: 3.6px;
  background-color: #ebebeb;
}

.pagination-back:hover {
  background-color: #d9d9d9;
}

.pagination-back:active {
  background-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.3);
}

.pagination-next:hover {
  background-color: #d9d9d9;
}

.pagination-next:active {
  background-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.3);
}

.pagination li:first-child {
  margin-right: auto;
}

.pagination li:last-child {
  margin-left: auto;
}

.pagination li:nth-child(2),
.pagination li:nth-child(3),
.pagination li:nth-child(4) {
  padding-top: 29px;
  padding-bottom: 20px;
  padding-left: 8px;
  width: 40px;
  vertical-align: middle;
}

.pagination li:nth-child(2) a,
.pagination li:nth-child(3) a,
.pagination li:nth-child(4) a {
  text-align: center;
}

.form-search {
  font-family: "Open Sans" , sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  color: rgba(0, 0, 0);
  background-color: transparent;
  border: 2px solid #000000;
  outline: none;
  cursor: pointer;
  box-sizing: border-box;
  padding: 4px 18px;
  display: none;
}

.form-search:hover {
  transition: all 0.15s linear;
  background-color: #000000;
  color: #ffffff;
}

.form-search:active {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
}

.header-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 31px;
  min-height: 48px;
}

.dji {
  background-image: url(../img/logo-1.png);
  background-repeat: no-repeat;
  background-size: 260px 100px;
  width: 260px;
  height: 100px;
  cursor: pointer;
  display: block;
}

.dji:hover {
  background-image: url(../img/dji-col.png);
  background-repeat: no-repeat;
  background-size: 260px 100px;
  width: 260px;
  height: 100px;
  cursor: pointer;
}

.sp-gadgets {
  background-image: url(../img/logo-2.png);
  background-repeat: no-repeat;
  background-size: 260px 100px;
  width: 260px;
  height: 100px;
  cursor: pointer;
  display: block;
}

.sp-gadgets:hover {
  background-image: url(../img/sp-col.png);
  background-repeat: no-repeat;
  background-size: 260px 100px;
  width: 260px;
  height: 100px;
  cursor: pointer;
  display: block;
}

.go-pro {
  background-image: url(../img/logo-3.png);
  background-repeat: no-repeat;
  background-size: 260px 100px;
  width: 260px;
  height: 100px;
  cursor: pointer;
  display: block;
}

.go-pro:hover {
  background-image: url(../img/go-col.png);
  background-repeat: no-repeat;
  background-size: 260px 100px;
  width: 260px;
  height: 100px;
  cursor: pointer;
  display: block;
}

.vive {
  background-image: url(../img/logo-4.png);
  background-repeat: no-repeat;
  background-size: 260px 100px;
  width: 260px;
  height: 100px;
  cursor: pointer;
  display: block;
}

.vive:hover {
  background-image: url(../img/vive-col.png);
  background-repeat: no-repeat;
  background-size: 260px 100px;
  width: 260px;
  height: 100px;
  cursor: pointer;
  display: block;
}

.stats .long {
  padding-right: 59px;
}

.slider input {
  display: none;
}

.slides .slider-controler {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 21px;
  vertical-align: top;
  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 50%;
  cursor: pointer;
  top: 50%;
  position: relative;
  z-index: 1;
}

.slides {
  position: absolute;
  top: 329px;
  right: 62px;
  z-index: 1;
  font-size: 0;
}

.slide {
  position: relative;
  display: none;
  padding-top: 81px;
  padding-left: 600px;
  padding-bottom: 20px;
}

#hit-1:checked ~ .slides .slider-controler-1::after,
#hit-2:checked ~ .slides .slider-controler-2::after,
#hit-3:checked ~ .slides .slider-controler-3::after {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 6px;
  height: 6px;
  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 50%;
}

#hit-1:checked ~ .slider-slides .slider-slide-1 {
  background-image: url("../img/slider-1.png");
  background-repeat: no-repeat;
  background-position: 90px 2px;
}

#hit-2:checked ~ .slider-slides .slider-slide-2 {
  background-image: url("../img/slider-2.png");
  background-repeat: no-repeat;
  background-position: 116px 14px;
}

#hit-3:checked ~ .slider-slides .slider-slide-3 {
  background-image: url("../img/slider-3.png");
  background-repeat: no-repeat;
  background-position: 31px 67px;
}

#hit-1:checked ~ .slider-slides .slider-slide-1,
#hit-2:checked ~ .slider-slides .slider-slide-2,
#hit-3:checked ~ .slider-slides .slider-slide-3 {
  display: block;
}

.slider-item {
  display: none;
}

.slider-item p {
  padding-bottom: 15px;
}

.slider-item-2 p {
  width: 426px;
}

#product-1:checked ~ .slider-list .slider-item-1,
#product-2:checked ~ .slider-list .slider-item-2,
#product-3:checked ~ .slider-list .slider-item-3 {
  display: block;
}

#product-1:checked ~ .slider-list .slider-item-1 {
  background: url("../svg-device/delivery.svg");
  background-repeat: no-repeat;
  background-position: 558px 41px;
}

#product-2:checked ~ .slider-list .slider-item-2 {
  background-image: url("../svg-device/warranty.svg");
  background-repeat: no-repeat;
  background-position: 543px 17px;
}

#product-3:checked ~ .slider-list .slider-item-3 {
  background-image: url("../svg-device/credit.svg");
  background-repeat: no-repeat;
  background-position: 534px 17px;
}

#product-1:checked ~ .slider-button .slider-controls-item--1 {
  width: 100%;
  position: relative;
  background-color: #000000;
  color: #f7e184;
  transition: 0.15s;
  text-align: left;
  padding-left: 19px;
  padding-bottom: 11px;
  padding-top: 11px;
  z-index: 0;
}

#product-2:checked ~ .slider-button .slider-controls-item--2 {
  width: 100%;
  position: relative;
  background-color: #000000;
  color: #f7e184;
  transition: 0.15s;
  text-align: left;
  padding-left: 28px;
  padding-bottom: 11px;
  padding-top: 11px;
  z-index: 0;
}

#product-3:checked ~ .slider-button .slider-controls-item--3 {
  width: 100%;
  position: relative;
  background-color: #000000;
  color: #f7e184;
  transition: 0.15s;
  text-align: left;
  padding-left: 42px;
  padding-bottom: 11px;
  padding-top: 11px;
  z-index: 0;
}

#product-1:checked ~ .slider-button .slider-controls-item--1::after,
#product-2:checked ~ .slider-button .slider-controls-item--2::after,
#product-3:checked ~ .slider-button .slider-controls-item--3::after {
  display: none;
}

.slider-button {
  padding-top: 36px;
}

.slider-controls-item {
  font-weight: 800;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  display: inline-block;
  width: 160px;
  text-align: center;
  vertical-align: middle;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 9px;
  padding-right: 5px;
  letter-spacing: 4px;
  margin-bottom: 24px;
  position: relative;
  overflow: hidden;
  z-index: 0;
  transition: width 0.15s;
  cursor: pointer;
}

.slider-item-3 p {
  width: 416px;
}

.map {
  border-radius: 2px;
}

.catalog-list {
  position: relative;
  font-weight: 800;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  width: 230px;
}

.catalog-list:hover {
  color: rgba(0, 0, 0, 0.6);
}

.main-menu:hover .sub-menu {
  display: block;
}

.catalog-list:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-menu {
  width: 220px;
}

.sub-menu {
  position: absolute;
  display: none;
  padding-top: 24px;
}

.one a,
.two a,
.three a {
  font-family: "Open Sans" , sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  color: rgba(0, 0, 0);
  text-transform: none;
  letter-spacing: normal;
  cursor: pointer;
}

.one a:hover,
.two a:hover,
.three a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.one a:active,
.two a:active,
.three a:active {
  color: rgba(0, 0, 0, 0.3);
}

.one {
  width: 240px;
}

.two {
  width: 200px;
}

.drop {
  display: flex;
  width: 1160px;
  background-color: #f7e296;
  z-index: 2;
  position: relative;
  padding-bottom: 34px;
  right: 60px;
  padding-left: 61px;
}

.popup {
  display: none;
  position: fixed;
  width: 960px;
  height: 560px;
  box-shadow: 0  10px 30px 0.5px #000000;
  border-radius: 3px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.map-popup {
  display: block;
  width: 960px;
  height: 560px;
}

.modal-show {
  display: block;
  animation-name: incoming;
  animation-duration: 0.4s;
  animation-timing-function: ease-out;
}

.main-popup {
  display: none;
  width: 960px;
  background-color: #ffffff;
  position: fixed;
  box-shadow: 0  10px 30px 0.5px #000000;
  border-radius: 3px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 97px;
  padding-bottom: 75px;
}

.show {
  display: block;
}

.show:not(.animation-finished) {
  animation-name: incoming;
  animation-duration: 0.4s;
  animation-timing-function: ease-out;
}

.map-close {
  position: absolute;
  background-image: url(../svg-device/modal-close.svg);
  background-size: 55px 55px;
  background-repeat: no-repeat;
  opacity: 0.5;
  width: 55px;
  height: 55px;
  z-index: 3;
  top: 23px;
  right: 22px;
  cursor: pointer;
  transition: 0.3s;
  background-color: #ffffff;
  border-radius: 50%;
  border: none;
  outline: none;
}

.map-close:hover {
  opacity: 1;
  transform: rotate(45deg);
  transition: 0.3s;
}

.map-close:active {
  opacity: 0.3;
}

.modal-close {
  position: absolute;
  background-image: url(../svg-device/modal-close.svg);
  background-size: 55px 55px;
  background-repeat: no-repeat;
  opacity: 0.5;
  width: 55px;
  height: 55px;
  z-index: 3;
  top: 23px;
  right: 22px;
  cursor: pointer;
  transition: 0.3s;
  background-color: #ffffff;
  border-radius: 50%;
  border: none;
  outline: none;
  transition: 0.3s;
}

.modal-close:hover {
  opacity: 1;
  transform: rotate(45deg);
  transition: 0.3s;
}

.modal-close:active {
  opacity: 0.3;
}

.form-item  {
  display: flex;
  flex-direction: column;
}

.form-item input {
  width: 360px;
  height: 50px;
  outline: none;
  padding: 10px 17px;
  padding-bottom: 12px;
  border: 3px solid transparent;
  border-radius: 2px;
  font-family: "Open Sans" , sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  background-color: #f2f2f2;
  color: rgba(0, 0, 0, 0.5);
}

.catalog-main {
  background: url(../img/super-layer.png) no-repeat center top;
}

.form-item input[type="text"] {
  margin-bottom: 36px;
}

.form-item textarea {
  margin-bottom: 42px;
}

.form-item input:hover {
  background-color: #ebebeb;
}

.form-item input:focus {
  border: 3px solid #f7e296;
  background-color: #ffffff;
  color: rgba(0, 0, 0, 1);
}

.form-item input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.form-item input:focus::placeholder {
  color: rgba(0, 0, 0, 1);
}

.form-item textarea:hover {
  background-color: #ebebeb;
}

.form-item textarea:focus{
  background-color: #ffffff;
  border: 3px solid #f7e296;
}

.form-item textarea::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.form-item {
  margin-bottom: 1px;
}

.form-item textarea:focus::placeholder {
  color: rgba(0, 0, 0, 1);
}

.form-item label {
  font-family: 'Gilroy', 'Helvetica', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 18px;
  padding-bottom: 10px;
}

.form-item textarea {
  width: 760px;
  min-height: 155px;
  padding: 10px 17px;
  border: 3px solid transparent;
  background-color: #f2f2f2;
  font-family: "Open Sans" , sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  outline: none;
}

.button {
  font-family: 'Gilroy', 'Helvetica', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ffffff;
  color: #000000;
  letter-spacing: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 34px;
  padding-right: 31px;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.button::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 7px;
  background-color: #f0c52e;
  top: 16px;
  right: 0;
  transition: 0.3s;
  z-index: -1;
}

.button:hover::before {
  transform: scale(7);
  transition: 0.3s;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.error {
  animation-name: shake;
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
}

.error .name {
  background-color: #f6dada;
}

.navigation-catalog li:first-child {
  width: 160px;
  padding-right: 0;
  padding-left: 0;
  margin-right: 20px;
}

.navigation-catalog li:nth-child(2) {
  padding-left: 0;
  text-align: left;
}

.navigation-catalog li:nth-child(3) {
  padding-left: 5px;
  text-align: left;
}

.navigation-catalog .current {
  color: rgba(0, 0, 0, 0.3);
}

.navigation-catalog .current:hover  {
  color: rgba(0, 0, 0, 0.6);
}

.flex-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 3px;
}

.user {
  position: relative;
  width: 144px;
}

.user::after {
  content: "";
  position: absolute;
  background-image: url(../svg-device/user-yellow.svg);
  background-repeat: no-repeat;
  background-size: 13px 12px;
  width: 13px;
  height: 12px;
  top: 12px;;
  right: 158px;
}

.enter {
  color: rgba(255, 255, 255, 0.3);
}

@keyframes shake {
  0% , 100% {
    transform: translate(-50%, -50%);
  }
  20% , 80% {
    transform: translate(-45%, -50%);
  }
  40% , 60% {
    transform: translate(-55%, -50%);
  }
}

@keyframes incoming {
  0% {
    transform: translate(-400%, -50%);
  }
  25% {
    transform: translate(-55%, -50%);
  }
  50% {
    transform: translate(-45%, -50%);
  }
  75% {
    transform: translate(-55%, -50%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}
